<%- include('../../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/product.css">
</head>

<body>
    <%- include('../../includes/navigation.ejs') %>

    <main>
        <h1>Cart product list</h1>

        <div style="margin-top: 50px;">
            <% if (products?.length > 0) { %>
                <ul>
                    <% for (let product of products) { %>
                        <li>
                            <div style="display: flex; gap: 20px; margin-bottom: 10px;">
                                <div style="width: 300px;">
                                    <%= product.title%> (<%= product.quantity%>)
                                </div>
                                <div>
                                    <form action="/delete-cart" method="POST">
                                        <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
                                        <input type="hidden" name="productId" value="<%= product._id %>"/>
                                        <button type="submit" class="btn">Delete</button>
                                    </form>
                                </div>
                            </div>
                        </li>
                    <% } %>
                </ul>

                <div>
                    <form action="/store-order" method="post">
                        <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
                        <button type="submit" class="btn">Place Order</button>
                    </form>
                </div>
            <% } else { %>
                <h4>No products in cart!</h4>
            <% } %>
        </div>

    </main>
<%- include('../../includes/end.ejs') %>