<%- include('../../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/product.css">
</head>

<body>
    <%- include('../../includes/navigation.ejs') %>

    <main>
        <h1>Admin Product List</h1>
        <a href="/admin/add-product" class="btn" style="text-decoration: none;padding: 7px;">Add New Product</a>

        <div style="margin-top: 50px;">
            <% if (prods?.length > 0) { %>
                <div class="grid" >
                    <% for (let product of prods) { %>
                        <article class="card product-item">
                            <header class="card__header">
                                <h1 class="product__title"><%= product.title %></h1>
                            </header>
                            <div class="card__image">
                                <img src="<%= product.imageUrl %>"
                                    alt="<%= product.title %>">
                            </div>
                            <div class="card__content">
                                <h2 class="product__price">$<%= product.price %></h2>
                                <p class="product__description"><%= product.description %></p>
                            </div>
                            <div class="card__actions" style="display: flex; justify-content: center;">
                                <div>
                                    <a href="/admin/edit-product/<%= product._id%>?edit=true" class="btn" style="text-decoration: none;padding: 4px;">Edit</a>
                                </div>
                                
                                <form action="/admin/delete-product" method="POST" style="margin-top: -4px;">
                                    <input type="hidden" name="productId" value="<%= product._id%>"/>
                                    <button type="submit" class="btn" style="padding: 4px;">Delete</a>
                                </form>
                            </div>
                        </article>
                    <% } %>
                </div>
            <% } else { %>
                <h1>No Products Found!</h1>
            <% } %>
        </div>
    </main>
<%- include('../../includes/end.ejs') %>